
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  box-shadow: 1px 1px 39px -3px rgba(102,98,102,1);
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: linear-gradient(to right bottom, rgba(255,255,255, 0.9), rgba(128,128,128, 0.8)), url(./assets/bg.png);
  background-size: cover;
  background-position: right center;
}

.sidenav-title {
  font-weight: bold; 
  border-bottom: 1px solid rgb(150, 150, 150, 0.5);
}

.sidenav a,h2 {
  padding: 16px;
  text-decoration: none;
  color: #130909;
  display: block;
  margin: 5px;
}

.sidenav a:hover {
  color: #f1f1f1;
  /* margin-left: 10px;
  margin-right: 10px; */
  widows: 10px;
  background-color: #8A2BE2;
  border-radius: 5px;
}

.fas {
  margin-right: 8px;
}
.far {
  margin-right: 8px;
}

.container-body {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
}

.container-body > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgb(212, 205, 205);
}

