
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  box-shadow: 10px 1px 39px -3px rgba(102,98,102,1);
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-image: linear-gradient(to right bottom, rgba(255,255,255, 0.9), rgba(128,128,128, 0.8)), url(./assets/bg.png);
  background-size: cover;
  background-position: right center;
}

.sidenav-title {
  font-weight: bold; 
  border-bottom: 1px solid rgb(150, 150, 150, 0.5);
}

.sidenav a,h2 {
  padding: 16px;
  text-decoration: none;
  color: #130909;
  display: block;
  margin: 5px;
}

.sidenav a:hover {
  color: #f1f1f1;
  /* margin-left: 10px;
  margin-right: 10px; */
  widows: 10px;
  background-color: #8A2BE2;
  border-radius: 5px;
}

.fas {
  margin-right: 8px;
}
.far {
  margin-right: 8px;
}
.main_page {
  margin-left: 200px; /* Same as the width of the sidenav */
}
.last_icon {
 position: fixed;
 bottom: 0;
}

.container_header {
margin-left: 200px;
color: #fff;
height: 250px;
background: linear-gradient(to right, rgb(221, 52, 30),  rgb(220, 43, 20));
}

.heading-button-host {
  display: flex;
  width: 160px;
  height: 30px;
  background-color: rgba(8, 14, 15, 0.6);
  color: #fff;
  position: absolute;
  font-size: 15px;
  top: 10%;
  right: 0;
  padding-top: 10px;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}

.heading-text-box {
  position: absolute;
  top: 7%;
  left: 38%;
  text-align: center;
}

/* .heading-primary {

margin-bottom: 20px;
} */

.heading-primary-main {
margin-left: 30px;
font-size: 30px;
}

.heading-primary-sub {
margin-left: 30px;
display: block;
margin-bottom: 20px;
}

.heading-primary-sub-search {
  position: absolute;
  top: 100%;
  left: 1%;
  font-size: 10px;
}

.search_icon {
  color: red;
  position: absolute;
  top: 78%;
  left: 3%;
}



/* Search bar */
.searchTerm {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px 0 0 5px;
border: none;
float: left;
width: 100%;
padding: 5px;
height: 20px;
color: rgb(8, 20, 15);
padding-left:30px;
}


/* 
.searchTerm:focus{
color: #00B4CC;
} */

.searchButton {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 0 3px 3px 0;
border: none;
position: absolute;  
right: -50px;
width: 60px;
height: 30px;
background: #080e0f;
text-align: center;
color: #fff;
cursor: pointer;
font-size: 14px;
}

.container-box {
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
}


.container-box > div {
  box-shadow: -1px 3px 0px 0px rgba(29,29,29,0.5);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 30%;
  background: linear-gradient(to right bottom, rgb(245, 245, 240),  rgb(83, 83, 73));
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
}

.container-right-box {
  border-radius: 3px 3px 3px 0;
  padding: 5px;
  width:25%;
  /* opacity: 0.5; */
  background-color: rgba(97, 91, 91, 0.3);
  color: #fff;
  font-size: 13px;
}

.container-button {
  display: flex;
  cursor: pointer;
  text-align: end;
}

.container-button > button {
  width:50%;
  height: 35px;
  background-color: white;
  border: 1px solid #dcdcdc;
}

.container-box > div > img {
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  width:50px;
  height: 50px;
  border-radius: 50%;
}

.container-text-main {
  color: rgb(97, 95, 95);
  text-transform: uppercase;
  font-size: 12px;
}
.container-text-name {
  font-size: 15px;
  color: white;
}

.container-text-detail {
  padding: 10px; 
  font-size: 12px; 
  text-align: center;
}

/* medie query set width */


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px){
  .sidenav {
      padding-top: 15%;
      width: 40px;
      text-align: center;
  }
  .sidenav a, h2{
      padding: 0px;
      height: 30px;
  }
  .sidenav a:hover {
      border-radius: 0px;
  }
  .sidenav font{
      visibility: hidden;
  }
  .sidenav-title{display: none;}
  .heading-button-host {display:none;}
  .last_icon {display:none !important;}
  .container_header{
      position: fixed;
      top: 0;
      margin-left: 0px;
      height: 50px;
      width: 100%;
  }
  .search_icon{
      top: 30%;
  }
  .searchTerm {
      /* width: 130%; */
  }
  .heading-text-box{
      top: 20% !important;
      left: 20%;
  }
  .heading-primary-main{display: none;}
  .heading-primary-sub{display: none;}
  .heading-primary-sub-search{display: none;}
  .heading-text-box{top:2%;}
  .container-box{
      flex-direction: column;
      margin-left: 25%;
      margin-top: 15%
  }
  .container-box > div {
      width: 75%;
  }
  
  
}

/* Small devices(potrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px){
 
}

/* Large devices (labtops/desktops, 992px and up)*/
@media screen and (min-width: 768px){
 
}